{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Report</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Balaji Family Restaurant</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin_home' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Table
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'add_table' %}">Add Table</a></li>
          <li><a class="dropdown-item" href="{% url 'view_table' %}">View Table</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Item
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'add_item' %}">Add Item</a></li>
          <li><a class="dropdown-item" href="{% url 'view_item' %}">View Item</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Company
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'add_company' %}">Add Company</a></li>
          <li><a class="dropdown-item" href="{% url 'view_company' %}">View Company</a></li>
        </ul>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Register
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'register' %}">Add Staff</a></li>
          <li><a class="dropdown-item" href="{% url 'register_list' %}">Staff List</a></li>
        </ul>

      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Reports
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'sales_report' %}">Sales Reports</a></li>
          <li><a class="dropdown-item" href="{% url 'item_report' %}">Item Report</a></li>
          <li><a class="dropdown-item" href="{% url 'daily_report' %}">Daily Report</a></li>
        </ul>

      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Logout</a>
      </li>
    </ul>
  </div>
</nav><h1>Items Reports</h1>
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <input type="month" name="salesmonth" id="salesmonth" class="form-control monthsale">
        </div>
        <div class="col-md-4">
            <select class="form-control" name="selectedcat">
                <option value="">-- Select --</option>
                {% for cat in category %}
                <option value="{{ cat.Category }}">{{ cat.Category }}</option>
                {% endfor %}
            </select>
        </div>
    </div><br>
    <div>
        <input type="submit" value="submit" class="btn btn-primary btn-submit">
    </div>
</form>

{% if orders %}
    <h2>Report Results</h2>
    <p><strong>Selected Month:</strong> {{ selectedmonth }}</p>
    <p><strong>Selected Category:</strong> {{ selectedcat }}</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Total Quantity</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.item_name }}</td>
                <td>{{ order.total_qty }}</td>
                <td>{{ order.total_amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No  data available for the selected month and Category.</p>
    {% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
